.loginError {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  position: absolute;
  top: 15%;
  padding: 0.5rem;

  color: hsl(0, 97%, 63%);
  font-size: 0.875rem;
  background-color: hsl(223, 36%, 14%);

  border-radius: 0.5rem;
}
