/* Global card styles */
.cardBackground {
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0.5rem;
}

.cardBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

.cardPlayButton {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1rem;
  font-weight: 300;

  width: 7rem;
  padding: 0.5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;

  transition: ease-in-out 0.3s;
  opacity: 0;
}

.bookmarkButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;

  transition: ease-in-out 0.3s;
}

.bookmarkButton:hover {
  scale: 1.1;
}

.showStat {
  font-size: 0.875rem;
  font-weight: 300;
}

.showTitle {
  font-size: 1rem;
  font-weight: 500;
}

.category {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: 767px) {
    max-width: 3.54rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.categoryIcon {
  width: 12px;
  height: 12px;
}

/* Regular card styles */

.div {
  display: flex;
  gap: 0.5rem;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  height: 9.625rem;

  @media (min-width: 768px) {
    height: 12rem;
  }

  @media (min-width: 1025px) {
    height: 14.125rem;
    max-width: 19rem;
  }
}

.card:hover {
  .cardPlayButton {
    opacity: 1;
  }
}

.cardImage {
  position: relative;
  height: 6.875rem;
  width: 100%;

  @media (min-width: 768px) {
    height: 8.75rem;
  }

  @media (min-width: 1025px) {
    height: 10.625rem;
  }
}
