.section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 2rem;
  height: auto;
}

.input {
  width: 100%;
  border: transparent;

  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Outline", sans-serif;
  color: white;

  outline: transparent;

  transition: border-bottom 0.2s;

  @media (min-width: 1025px) {
    padding-bottom: 0.875rem;

    &:focus {
      border-bottom: 0.8px solid #5a698f;
    }
  }
}
