:root {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: hsl(353, 18%, 90%) hsl(223, 30%, 15%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background-color: hsl(223, 30%, 9%);
  overflow-x: hidden;
  overflow-y: hidden;
}

.icon.active {
  fill: white;
}
