:root {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: hsl(353, 18%, 90%) hsl(223, 30%, 15%);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  background-color: hsl(223, 30%, 9%);
  overflow-x: hidden;

  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 0.8125rem;

  color: white;

  @media (min-wdith: 768px) {
    font-size: 0.9375rem;
  }
}

h2 {
  font-size: 1.5rem !important;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  color: white;

  z-index: 10;

  @media (min-width: 1025px) {
    font-size: 2rem !important;
    font-weight: 300;
  }
}

.home,
.movies,
.tvSeries,
.bookmarked {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;

  @media (min-width: 1025px) {
    margin-left: 9rem;
  }
}

.show-title {
  font-size: 1rem;
  font-weight: 500;
}

.show-stat {
  font-size: 0.875rem;
  font-weight: 300;
}
